*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
/*
     the top links
*/
.top{
    background-color: #c2c2c2;
    width: 100%;
    height: 100px;
}
/*
    The main content
*/
.middle{
    margin: 40px auto;
    background-color: #c2c2c2;
    width: 55%;
    height: 75px;
}
.container1{
    float: left;
    background-color: #c2c2c2;
    width: 45%;
    height: 350px;
    margin: 10px;
}
.container2{
    clear: both;
    display: flex;
    justify-content: center;
}
.item{
    display: flex;
    justify-content: flex-start;    
    width: 33%;
    height: 600px;
    margin: 3px; 
    background-color: #c2c2c2;
}
.container3{
    float: left;
    width: 400px;
    height: 300px;
    background-color: #c2c2c2;
    margin: 25px;
}
.container4{
    float: left;
    width: 800px;
    height: 700px;
    background-color: #c2c2c2;
    margin: 24px;
}
.container5{
    clear: both;
    display: flex;
}
.box1{
    display: flex;
    justify-content: flex-start;    
    width: 33%;
    height: 600px;
    margin: 3px; 
    background-color: #c2c2c2;
}
.box2{
    display: flex;
    justify-content: flex-start;    
    width: 66%;
    height: 600px;
    margin: 3px; 
    background-color: #c2c2c2;

}
.misc{    
    width: 300px;    
    height: 75px;
    margin: 20px auto;
    background-color: #c2c2c2;
}
.prof{
    width: 100%;
    height: 700px;
    background-color: #c2c2c2;
}
.container6{
    display: flex;

}
.box3{
    display: flex;
    justify-content: flex-start;    
    width: 20%;
    height: 300px;
    margin: 3px; 
    background-color: #c2c2c2;
}
.box4{
    display: flex;
    justify-content: flex-start;    
    width: 70%;
    height: 300px;
    margin: 3px; 
    background-color: #c2c2c2;
}
.container7{
    float: left;
    width: 600px;
    height: 400px;
    margin: 3px; 
    background-color: #c2c2c2;
}
.btn{
    clear: both;
    width: 200px;
    height: 75px;
    background-color: #c2c2c2;
    margin: 40px auto;
}
.smashing{
    width: 100%;
    height: 400px;
    background-color: #c2c2c2;
}
.container8{
    clear: both;
    display: flex;
    justify-content: center;
}
.itema{
    display: flex;
    justify-content: flex-start;    
    width: 49%;
    height: 450px;
    margin: 3px; 
    background-color: #c2c2c2;
}
.container9{
    clear: both;
    display: flex;
    justify-content: center;
}
.itema{
    display: flex;
    justify-content: flex-start;    
    width: 49%;
    height: 750px;
    margin: 3px; 
    background-color: #c2c2c2;
}
.closing-content{
    width: 100%;
    height: 700px;
    background-color: #c2c2c2;
}
/*
 The font styles of the text content
*/
.top1{
    font-weight: 100;
    font-family: 'Roboto',sans-serif;
    text-align: center;
    padding: 30px;
    margin-top: 20px;
    top: 20px;
    font-size: 19px;
}
.middle1{
    font-weight: 700;
    font-family: 'Roboto',serif;
    text-align: center;
    padding-left: 30px;
    margin: 10px auto;
    font-size: 25px;
}
.container11{
    font-weight: 400;
    font-family: 'Roboto',serif;
    text-align: center;
    padding-left: 30px;
    margin: 10px auto;
    font-size: 18px;

}
.container12{
    font-weight: 400;
    font-family: 'Roboto',sans-serif;
    text-align: center;
    padding: 20px;
    margin: 10px auto;
    font-size: 18px;
}
.container13{
    font-weight: 400;
    font-family: 'Roboto',sans-serif;
    text-align: center;
    padding: 10px;
    margin: 10px auto;
    font-size: 15px;
}
.container14{
    font-weight: 400;
    font-family: 'Roboto',serif;
    text-align: center;
    padding: 5px;
    margin: 10px auto;
    font-size: 22px;
}
.container15{
    font-weight: 400;
    font-family: 'Roboto',serif;
    text-align: center;
    padding: 10px;
    margin: 10px auto;
    font-size: 15px;
}
.container16{
    font-weight: 400;
    font-family: 'Roboto',sans-serif;
    text-align: center;
    padding: 15px;
    margin: 10px auto;
    font-size: 24px;
}
.closing-content1{
    font-weight: 400;
    font-family: 'Roboto',sans-serif;
    text-align: center;
    padding: 15px;
    margin: 10px auto;
    font-size: 21px;    
}